<html ng-app="app">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>home</title>
	<script src="../js/angular.js"></script>
	<script src="../js/app.js"></script>
</head>
	<body>
		<a href="index.html"><h1>MediCadastro</h1></a>
		<hr />
		<button ng-click="showPacientes = !showPacientes; showExames = false">Pacientes</button>
		<button ng-click="showExames  = !showExames; showPacientes = false">Exames</button>
		<hr />
		<div ng-show="showPacientes">

			<button = ng-click="showAlterPacient = !showAlterPacient; text='Adicionar'">Adicionar paciente</button>
			<table ng-controller="listPacientsController as form">
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Idade</th>
				<th>Sexo</th>
			</tr>
				<tr ng-repeat="paciente in form.pacientes">
					<td>{{paciente.nome}}</td>
					<td>{{paciente.idade}}</td>
					<td>{{paciente.sexo}}</td>
					<td>{{paciente.id}}</td>
					<td><button ng-controller="delPacientController" ng-click="delete()">Remover</button></td>
					<td><button ng-click="showAlterPacient = !showAlterPacient">Alterar</button></td>
				</tr>
			</table>
			<div ng-show="showAlterPacient" ng-controller="addPacientController">
				<hr />
				<form >
					Nome do paciente: <br />
					<input type="text" name="nome" value="{{paciente.nome}}" ng-model="paciente.nome">
					<br />Idade: <br />
					<input type="number" name="idade" min="0" max="200" ng-model="paciente.idade">

					<br />Sexo: <br />
					<input type="radio" name="sexo" value="masculino" ng-model="paciente.sexo"> Masculino<br>
					<input type="radio" name="sexo" value="feminino" ng-model="paciente.sexo"> Feminino<br>

					<input type="submit" value="{{text}}" ng-click="add()">
				</form>
			</div>
		</div>
		<div ng-show="showExames">
			<button ng-click="showAlterExames = !showAlterExames; text='Adicionar'">Novo Exame</button>
			<table ng-controller = 'listExamsController as form'>
			<tr>
				<th>Id</th>
				<th>Nome</th>
				<th>Descricao</th>
				<th>Data</th>
				<th>Paciente</th>
			</tr>
				<tr ng-repeat='exame in form.exames'>
					<td>{{exame.id}}</td>
					<td>{{exame.nome}}</td>
					<td>{{exame.descricao}}</td>
					<td>{{exame.data}}</td>
					<td>{{exame.paciente.nome}}</td>
					<!-- TODO:  -->
					      <td><button ng-controller ="delExamController" ng-click="delete()">Remover</button></td>
								<td><button>Alterar</button></td>
				</tr>
			</table>
			<div ng-show="showAlterExames" ng-controller="addExamController">
				<hr />
					<!-- <input type="hidden" name="id" ng-model /> -->
					Nome do exame:
					<br /> <input type="text" name="nome" ng-model="exame.nome">

					<br />Descricao<br />
					<textarea name="descricao" rows="5" cols="80" ng-model="exame.descricao"></textarea>

					<br />Paciente<br />
					<select ng-controller="listPacientsController as form">
					  <option ng-repeat="paciente in form.pacientes" value="{{paciente}}" ng-model="exame.paciente">{{paciente.nome}}</option>
					</select>

					<br />Data<br />
					<input type="date" name="data" ng-model="exame.data">
					<button ng-click="add()">{{text}}</button>

			</div>
		</div>
	</body>
</html>
